<table class="table w-auto bg-secondary-subtle">
    <tbody>
        <tr>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control" value="Name" disabled readonly/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="$ctrl.client.name"/>
                </div>
            </td>
            <td></td>
        </tr>
        <datalist id="clientOptionals">
            <option value="{{ name }}" ng-repeat="name in $ctrl.options">
        </datalist>
        <tr ng-repeat="o in $ctrl.client.optionals">
            <td>
                <div class="input-group">
                    <input class="form-select" list="clientOptionals" ng-model="$ctrl.client.optionals[$index].name"/>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="$ctrl.client.optionals[$index].value"/>
                </div>
            </td>
            <td>
                <button class="btn btn-outline-danger" type="button" ng-click="$ctrl.moveLine($index,0)"><i class="bi bi-trash"></i></button>
                <div class="btn-group">
                    <button class="btn btn-secondary" type="button" ng-click="$ctrl.moveLine($index,-1)"><i class="bi bi-chevron-up"></i></button>
                    <button class="btn btn-secondary" type="button" ng-click="$ctrl.moveLine($index,+1)"><i class="bi bi-chevron-down"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="mt-2">
    <button class="ms-3 btn btn-secondary" type="button" ng-click="$ctrl.appendLine()">
        <i class="bi bi-plus"></i>
        neuer Wert
    </button>
</div>
<div class="mt-4">
    <button class="ms-3 btn btn-outline-primary" type="button" ng-click="$ctrl.cancel()">
        <i class="bi bi-x"></i>
        Abbrechen
    </button>
    <button class="ms-3 btn btn-primary" type="button" ng-click="$ctrl.save(false)">
        <i class="bi bi-check"></i>
        Speichern
    </button>
    <button class="ms-3 btn btn-primary" type="button" ng-click="$ctrl.save(true)">
        <i class="bi bi-chevron-left"></i> 
        Speichern und
        zurück
    </button>
</div>
