<h1>{{ $ctrl.client.name }} &ndash; Kunde</h1>
<table class="table w-auto table-striped mt-3">
    <tbody>
        <tr ng-repeat="o in $ctrl.client.optionals">
            <td ng-bind="o.name"></td>
            <td ng-bind="o.value" class="text-end"></td>
        </tr>
    </tbody>
</table>
<div class="mt-3">
    <a href="#!/client/" class="btn btn-primary"><i class="bi bi-chevron-left"></i> Zurück zu Kunden</a>
    <a href="#!/edit/client/{{$ctrl.client.id}}/" class="btn btn-outline-primary"><i class="bi bi-pen"></i> Bearbeiten</a>
</div>
