<div class="row">
    <div class="col">
        <h1 class="mb-3">Kunden</h1>

        <form>            
            <div class="ms-0 me-auto container-sm">
                <div class="mb-3">
                    <label>Suchen:</label>
                    <input class="form-control" ng-model="$ctrl.filter"/>                
                </div>
            </div>
        </form>

        <div class="d-flex flex-wrap">
            <div class="card me-3 mb-3" style="width: 18rem;" ng-repeat="c in $ctrl.clients | filter: $ctrl.filter">
                <div class="card-header">
                    <h5 class="card-title">{{c.name}}</h5>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Andere verpflichtende Attribute</li>
                        <li class="list-group-item" ng-repeat="opt in c.optionals | limitTo: 3">
                            <div class="fw-lighter"><small>{{opt.name}}</small></div> 
                            <div>{{opt.value}}</div>
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <a href="#!/client/{{c.id}}/" class="btn btn-secondary"><i class="bi bi-clipboard2"></i> Anzeigen</a>
                        <a href="#!/edit/client/{{c.id}}/" class="btn btn-secondary"><i class="bi bi-pen"></i> Bearbeiten</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a href="#!/edit/client/*new*/" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Neuen Kunden anlegen</a>
        </div>
    </div>
</div>