<h1><span ng-bind="$ctrl.label"></span> &ndash; Werteliste</h1>
<div title="Name" class="h5" ng-bind="$ctrl.prop.name"></div>
<div title="Beschreibung" ng-bind="$ctrl.prop.description" style="white-space: pre-wrap;"></div>
<table class="table w-auto table-striped mt-3">
    <thead>
        <th title="Der Wert ist immer vorhanden und ist immer ein Text">Wert</th>
        <th ng-repeat="t in $ctrl.prop.tnames" ng-bind="t" title="Text-Attribut"></th>
        <th ng-repeat="v in $ctrl.prop.vnames" ng-bind="v" class="text-end" title="numerisches Attribut"></th>
    </thead>
    <tbody>
        <tr ng-repeat="val in $ctrl.prop.vals">
            <th ng-bind="val.name"></th>
            <td ng-repeat="t in $ctrl.prop.tnames" ng-bind="val.t[$index]"></td>
            <td ng-repeat="v in $ctrl.prop.vnames" ng-bind="val.v[$index]" class="text-end"></td>
        </tr>
    </tbody>
</table>
<div class="mt-3">
    <a href="#!/prop/" class="btn btn-primary"><i class="bi bi-chevron-left"></i> Zurück zu Werte</a>
    <a href="#!/edit/prop/{{$ctrl.name}}/" class="btn btn-outline-primary"><i class="bi bi-pen"></i> Bearbeiten</a>
</div>
