<div class="row">
    <div class="col">
        <h1>Werte</h1>
        <config-warning></config-warning>

        <div class="d-flex flex-wrap">
            <div class="card me-3 mb-3" style="width: 18rem;" ng-repeat="pl in $ctrl.props">
                <div class="card-header">
                    <h5 class="card-title">{{pl.label}} ({{pl.name}})</h5>
                </div>
                <div class="card-body">
                    <p class="card-text" style="white-space: pre-wrap;" ng-bind="pl.description"></p>
                </div>
                <div class="card-footer">
                    <a href="#!/prop/{{pl.name}}/" class="btn btn-secondary mt-auto"><i class="bi bi-clipboard2"></i> Anzeigen</a>
                </div>
            </div>
        </div>

        <div>
            <a href="#!/edit/prop/*new*/" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Neue Liste anlegen</a>
        </div>

        <p>
            Eine Werteliste hat einen eindeutigen Namen, eine Beschreibung und wie der
            Name schon sagt, eine Liste von Werten mit mindestens einem Namen und einer optionalen
            Liste von Attributen.
        </p>
    </div>
</div>