<h1><span ng-bind="$ctrl.name"></span> &ndash; Werteliste</h1>
<form name="pl">
    <div class="ms-0 me-auto container-sm">
        <div class="mb-3">
            <label>Name</label>
            <input class="form-control" name="name" ng-model="$ctrl.prop.name" ng-pattern="$ctrl.validName" required />
            <div class="form-text text-danger" ng-show="pl.name.$error.required">* Eingabe erforderlich</div> 
            <div class="form-text text-danger" ng-show="pl.name.$error.pattern">* Unzulässige Zeichen im Namen</div>
            <div class="form-text">Der Name sollte in der Regel nicht geändert werden. Nur die Buchstaben A-z,
                Binnen-Ziffern und Binnen-Bindestriche.</div>
        </div>

        <div class="mb-3">
            <label>Label</label>
            <input class="form-control" ng-model="$ctrl.prop.label" required />
        </div>

        <div class="mb-3">
            <label>Beschreibung</label>
            <textarea class="form-control" ng-model="$ctrl.prop.description" style="height: 16ex"></textarea>
        </div>
    </div>

    <table class="table w-auto bg-secondary-subtle">
        <tbody>
            <tr>
                <td></td>
                <td ng-repeat="t in $ctrl.prop.tnames track by $index">
                    <div class="input-group">
                        <input class="form-control" ng-model="$ctrl.prop.tnames[$index]"/>
                        <button class="btn btn-outline-danger" type="button" ng-click="$ctrl.deltCol($index)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>
                <td>
                    <button class="btn btn-secondary" type="button" title="neue Text-Attribut Spalte" ng-click="$ctrl.addt()">
                        <i class="bi bi-plus"></i> 
                        Spalte
                    </button>
                </td>
                <td ng-repeat="v in $ctrl.prop.vnames track by $index" class="text-end">
                    <div class="input-group">
                        <button class="btn btn-outline-danger" type="button" ng-click="$ctrl.delvCol($index)">
                            <i class="bi bi-trash"></i>
                        </button>
                        <input class="form-control text-end" ng-model="$ctrl.prop.vnames[$index]"/>
                    </div>
                </td>
                <td>
                    <button class="btn btn-secondary" type="button" title="neue numerische Attribut-Spalte" ng-click="$ctrl.addv()">
                        <i class="bi bi-plus"></i> 
                        num. Sp.
                    </button>
                </td>
            </tr>
            <tr ng-repeat="val in $ctrl.prop.vals track by $index">
                <td>
                    <div class="input-group">
                        <input class="form-control" ng-model="val.name"/>
                    </div>
                </td>
                <td ng-repeat="t in $ctrl.prop.tnames track by $index">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="val.t[$index]"/>
                    </div>
                </td>
                <td></td>
                <td ng-repeat="v in $ctrl.prop.vnames track by $index" class="text-end">
                    <div class="input-group">
                        <input type="number" class="form-control text-end" ng-model="val.v[$index]"/>
                    </div>
                </td>
                <td>
                    <button class="btn btn-outline-danger" type="button" ng-click="$ctrl.moveLine($index,0)"><i class="bi bi-trash"></i></button>
                    <div class="btn-group">
                        <button class="btn btn-secondary" type="button" ng-click="$ctrl.moveLine($index,-1)"><i class="bi bi-chevron-up"></i></button>
                        <button class="btn btn-secondary" type="button" ng-click="$ctrl.moveLine($index,+1)"><i class="bi bi-chevron-down"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="mt-2">
        <button class="ms-3 btn btn-secondary" type="button" ng-click="$ctrl.appendLine()">
            <i class="bi bi-plus"></i>
            neuer Wert
        </button>
    </div>
    <div class="mt-4">
        <button class="ms-3 btn btn-outline-primary" type="button" ng-click="$ctrl.cancel()">
            <i class="bi bi-x"></i>
            Abbrechen
        </button>
        <button class="ms-3 btn btn-primary" type="button" ng-click="$ctrl.save(false)">
            <i class="bi bi-check"></i>
            Speichern
        </button>
        <button class="ms-3 btn btn-primary" type="button" ng-click="$ctrl.save(true)">
            <i class="bi bi-chevron-left"></i> 
            Speichern und
            zurück
        </button>
    </div>
</form>