<h1><span ng-bind="$ctrl.name"></span> &ndash; Schema</h1>
<form name="sc">
    <div class="ms-0 me-auto container-sm">
        <div class="mb-3">
            <label>Name</label>
            <input class="form-control" name="name" ng-model="$ctrl.prop.name" ng-pattern="$ctrl.validName" required/>
            <div class="form-text text-danger" ng-show="sc.name.$error.required">* Eingabe erforderlich</div> 
            <div class="form-text text-danger" ng-show="sc.name.$error.pattern">* Unzulässige Zeichen im Namen</div>
            <div class="form-text">Der Name sollte in der Regel nicht geändert werden. Nur die Buchstaben A-z,
                Binnen-Ziffern und Binnen-Bindestriche.</div>
        </div>

        <div class="mb-3">
            <label>Beschreibung</label>
            <textarea class="form-control" ng-model="$ctrl.prop.description" style="height: 16ex"></textarea>
        </div>

        <div class="row">
            <div class="col">
                <h3>Werte im Schema</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="prop in $ctrl.schema.props" title="{{prop.description}}">
                        <div class="ms-2 me-auto">
                            <input class="form-check-input me-1" type="checkbox" ng-model="prop.writeable"
                                title="änderbar">
                            {{prop.name}} / {{prop.label}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col">
                <h3>Verfügbare Werte</h3>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action" ng-class="{'list-group-item-dark': !$ctrl.hasProp(pl.name)}" ng-repeat="pl in $ctrl.props"
                        title="{{pl.description}}" ng-click="$ctrl.addProp(pl)">{{pl.name}} / {{pl.label}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <button class="ms-3 btn btn-outline-primary" type="button" ng-click="$ctrl.cancel()">
            <i class="bi bi-x"></i>
            Abbrechen
        </button>
        <button class="ms-3 btn btn-primary" type="button" ng-click="$ctrl.save(false)">
            <i class="bi bi-check"></i>
            Speichern
        </button>
        <button class="ms-3 btn btn-primary" type="button" ng-click="$ctrl.save(true)">
            <i class="bi bi-chevron-left"></i>
            Speichern und
            zurück
        </button>
    </div>
</form>