<div class="row">
    <div class="col">
        <h1>Schemata</h1>
        <config-warning></config-warning>

        <div class="d-flex flex-wrap">
            <div class="card me-3 mb-3" style="width: 18rem;" ng-repeat="s in $ctrl.schemas">
                <div class="card-header">
                    <h5 class="card-title" ng-bind="s.name"></h5>
                </div>
                <div class="card-body">
                    <p class="card-text" style="white-space: pre-wrap;" ng-bind="s.description"></p>
                </div>
                <div class="card-footer">
                    <a href="#!/schema/{{s.name}}/" class="btn btn-secondary mt-auto"><i class="bi bi-eyeglasses"></i> Anzeigen</a>
                </div>
            </div>
        </div>

        <div>
            <a href="#!/edit/schema/*new*/" class="btn btn-outline-primary"><i class="bi bi-plus"></i> Neues Schema anlegen</a>
        </div>

        <p>
            Ein Schema versammelt eine Menge von Wertelisten unter einem Namen.
            Dies kann man dann einem Katalog-Eintrag zuordnen und damit legt man
            fest, welche Werte zu einem solchen Element erfasst werden müssen.
            Eine Werteliste kann in einem Schema schreibgeschützt oder änderbar sein,
            was sich aber nur auf Projekte auswirkt: Innerhalb des Katalogs sind
            alle Werte änderbar, in einem Projekt sind die Werte in kopierten Katalog-Elementen
            je nach Einstellung im Schema änderbar oder schreibgeschützt.
        </p>
    </div>
</div>